html
{
    background-color: rgb(248, 184, 197);
}
h1{
    background-color: rgb(232, 82, 134);
}
h4{
    text-align: center;
}
button{
    color: rgb(23, 4, 24);
}
table{
    background-color: rgb(247, 158, 180);
}