<html>
<h1>TOMR GITHUB JHERE DEBO 😈!!!</h1>
<h4>
<div>
  <label for="userName">
   Github User Name 
  </label>
  <input type="text" name="userName"[(ngModel)]="userName">
</div>
<hr>
<div>
  <button type="button"(click)="getRepos()">GET DETAILS</button>
</div>
<hr>
<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="errorMessage">
  <strong>Oops:(</strong>
{{errorMessage|json}}
</div>
</h4>
<table>
  <thead>
    <tr>
      <th><h3>ID</h3></th>
      <th><h3>NAME</h3></th>
      <th><h3>HTTP-URL</h3></th>
      <th><h3>DESCRIPTION</h3></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let repo of repos">
      <td>{{repo.id}}</td>
      <td>{{repo.name}}</td>
      <td>{{repo.html_url}}</td>
      <td>{{repo.description}}</td>
    </tr>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</html>
